{% extends "core/base.html" %}

{% load static %}

{% block title %}
    Дневник сахаров
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script
            type="text/javascript"
            src="{% static 'sugar/js/table_script.js' %}"
    ></script>
{% endblock %}

{% block body_params %}
    onload="onBodyLoad();"
{% endblock %}

{% block content %}
    <form id="list_view_form">
        {% csrf_token %}
        {{ list_view_form.as_p }}
        <input
                id="submit"
                type="button"
                value="Обновить"
                onclick="getTableRows('{% url 'sugar-app:rows' %}');"
        >
    </form>
    <div id="list_view_table_div">Nothing to show.</div>
{% endblock %}