{% extends "core/base.html" %}

{% load static %}

{% block title %}
    Дневник сахаров
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script
            type="text/javascript"
            src="{% static 'sugar/js/table_script.js' %}"
    ></script>
{% endblock %}

{% block body_params %}
    onload="onBodyLoad();"
{% endblock %}

{% block content %}
    {{ block.super }}
    <form
            id="list_view_form"
            onsubmit="return false;"
    >
        {% csrf_token %}
        {{ list_view_form.as_p }}
        <input
                id="first_page"
                type="button"
                value="<<"
                disabled
                onclick="getFirstPage('{% url 'sugar-app:rows' %}');"
        >
        <input
                id="prev_page"
                type="button"
                value="<"
                disabled
                onclick="getPrevPage('{% url 'sugar-app:rows' %}');"
        >
        <input
                id="refresh"
                type="button"
                value="Обновить"
                onclick="getTableRows('{% url 'sugar-app:rows' %}');"
        >
        <input
                id="next_page"
                type="button"
                value=">"
                disabled
                onclick="getNextPage('{% url 'sugar-app:rows' %}');"
        >
        <input
                id="last_page"
                type="button"
                value=">>"
                disabled
                onclick="getLastPage('{% url 'sugar-app:rows' %}');"
        >
    </form>
    <div id="list_view_table_div">Nothing to show.</div>
{% endblock %}