{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block styles %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'core/css/base.css' %}"
        />
    {% endblock %}
    {% block scripts %}
        <script
                type="text/javascript"
                src="{% static 'core/js/constants.js' %}"
        ></script>
        <script
                type="text/javascript"
                src="{% static 'core/js/ajax_tools.js' %}"
        ></script>
    {% endblock %}
</head>
<body
        {% block body_params %}
        {% endblock %}
>
    <div id="content">
        <ul class="top_level_buttons">
            {% block top_buttons %}
                {% if request.user.is_superuser %}
                <li>
                    <input
                        id="get_dump"
                        type="button"
                        onclick="location.href='{% url 'core:download_json_dump' %}'"
                        value="Скачать БД"
                    >
                </li>
                {% endif %}
            {% endblock %}
        </ul>
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        {% block sidebar %}
            <h2>
                Sidebar
            </h2>
            <p>
                Some interesting stuff...
            </p>
        {% endblock %}
    </div>
</body>
</html>